@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (max-width: 768px) {
    .mobile-zoom-table {
      zoom: var(--mobile-zoom, 1);
    }
  }

  @media (min-width: 769px) {
    .mobile-zoom-table {
      zoom: var(--desktop-zoom, 1);
    }
  }
}

/* Dark Mode Scrollbar */
.dark {
  scrollbar-color: #475569 #0f172a; /* Thumb Track */
}

.dark ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.dark ::-webkit-scrollbar-track {
  background: #0f172a; /* Slate 900 */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #475569; /* Slate 600 */
  border-radius: 5px;
  border: 2px solid #0f172a; /* Padding effect */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* Slate 500 */
}
